body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}

label, input { display:block; }
label.text { font-size:1em;}
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:5px; }
h1 { font-size: 1.2em; margin: .6em 0; }
.ui-dialog { padding: .3em; }

#header-content{
    
    position: fixed;
    height: 30px;
    top:0;
    z-index: 1;
    width:100%;
    background:rgba(255, 255, 255, 0);
    font-size:2em;
}

#header{
    background: #eeeeff;
    float:left;
}
#signup{
    float:right;
    background: #eeeeff;
    
}